.results-card {
    width: 80%;
    padding: 1.3rem;
    border: 1px solid black;
}

.villager-icon {
    max-width: 20%;
}

.result-img {
    max-width: 80%;
    margin-top: -30px;
}

.speech-box {
    /* width: 300px; */
    /* margin: 50px auto; */
    background: #00bfb6;
    padding: 1.5rem;
    text-align: center;
    font-weight: 900;
    color: #fff;
    /* font-family: arial; */
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
}

.speech-box::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 25%;
}

.museum-info {
    border: 1px solid black;
    padding: 1.2rem;
}

.bell-pouch {
    max-height: 1.3em;
}

.table-property {
    font-weight: bold;
    font-size: 1.2em;
}

.villager-img {
    max-width: 100%;
}

.save-button {
    position: absolute;
    bottom: 0;
    /* left: 90%; */
    margin: 0 auto;
    width: 100%;
}


@media screen and (max-width: 900px) {

    .result-title {
        font-size: 8vw;
    }

    .blathers-pic {
        margin-top: 40px;
    }
}